<div class="liquor-card">
    <div class="liquor-card-header">
       {{liquor_name}}
    </div>
    <div class="card-body">
        <div class="liquor-card-text">
            <p>Price: ${{liquor_price}}</p>
            <p>Size: {{liquor_size}}</p>
            <p>Quantity: {{liquor_quantity}}</p>
        </div>
    </div>
</div>
```
<p>
    Name: {{liquor_name}}<br>
    Price: ${{liquor_price}}<br>
    Size: {{liquor_size}}<br>
    Quantity: {{liquor_quantity}}<br>
</p>


